\#*
*~
*.d
*.o
*.so
*.pcm
*.pdf
*.png
*par
*.Dict.*
*.temp
*.txt
*.ps
*.eps
*.aux
*.fls
*.log
*.synctex.gz
*.fdb_latexmk
*.dat
*.html
*.root
*.tex
*tar.gz
*csv
*docx
*xlsx
*.out
*.in
*.hbk
*.asc
*header_files*
*.tar.xz
old/
*.zip
mocadi/source3.5/
*.tar.xz
epax/IO-CaptureOutput-1.08/
epax/epax_v31_www
epax/usr/
epax/octave-workspace
*.ipynb_checkpoints/
gicosy/
gicosy-windows/
DowloadGsi_UCLM/
simulations_frs/kinematics2015
