\#*
*~
*.d
*.o
*.so
*.pcm
*.pdf
*.png
*par
*.Dict.*
*.temp
*.txt
*.ps
*.eps
*.aux
*.fls
*.log
*.synctex.gz
*.fdb_latexmk
*.dat
*.html
*.root
*.tex
*tar.gz
*csv
*docx
*xlsx
*.out
*.in
*.hbk
*.asc
*header_files*
